<div class="jumbotron" [ngClass]="{
                                    'list-group-item-success': loveItScore > 0,
                                    'list-group-item-danger': loveItScore < 0}">
  <p class="text-muted text-right"> {{ postDateCreation | date: 'short' }}</p>
  <h1 class="h2"> {{ postTitle }}</h1>
  <p class="lead"> {{ postResume }}</p>
  <button class="btn btn-outline-success" (click)="onClickLoveIt('love')">Love it</button>
  <button class="btn btn-outline-danger" (click)="onClickLoveIt('unlove')">Don't love it</button>
</div>
