<h1 class="h1"> Liste des posts </h1>
<app-post-list-item *ngFor="let post of postsList"
                    [postTitle]= "post.postTitle"
                    [postResume]= "post.postResume"
                    [postDateCreation]="post.postDateCreation"></app-post-list-item>
